
<section class="product-card">
			<div class="card-sl card-animated">
				<div class="card-image">
					<img height="205px" width="100%"
						src={{product.src}} />
				</div>

				<div class="card-heading" #header>
					{{product.header}}
				</div>
				<div class="card-text">
					{{product.description}}
				</div>
				<div class="card-text" #amount>
					{{product.amount}}
				</div>
				<a class="card-button" (click)="onPurchase(header,amount)"> Purchase</a>
			
			</div>
</section>

<!-- <div *ngFor='let i of products'>
	<p>{{i.headerval}}</p>
</div> -->

	 