<div class="container" style="margin: 80px 10px">
    <table class="table">
        <tbody>
          <tr>
            
            <td>Mon:</td>
            <td>	9:00 am – 9:00 pm</td>
            
          </tr>
          <tr>
            <td>Tue:</td>
            <td>	9:00 am – 9:00 pm</td>
           
          </tr>
          
          <tr>
            <td>Wed:</td>
            <td>	9:00 am – 9:00 pm</td>
          </tr>
          <tr>
            <td>Thu:</td>
            <td>	9:00 am – 9:00 pm</td>
          </tr>
          <tr>
            <td>Fri:</td>
            <td>	9:00 am – 9:00 pm</td>
          </tr>
          <tr>
            <td>Sat:</td>
            <td>	9:00 am – 9:00 pm</td>
          </tr>
          <tr>
            <td>Sun:</td>
            <td>Closed</td>
          </tr>
        </tbody>
      </table></div>