<div class="container" style="margin: 80px 10px">
	<div class="row ">
		<div class='col-1-of-4' *ngFor='let product of products;let i = index'>
            <app-product-card [product]='product'></app-product-card>
        </div>
    </div>
  <div style="text-align: center;padding-top: 30px;">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
    </form>
 <div class="btn btn-secondary btn-animate"> 
    <a class="mail" href="mailto:padmasripaper@gmail.com?subject=Order%20From%20{{name}}&body={{mailBody}}">Confirm order</a>
 </div></div>
</div>