<!-- <img src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /> -->

<header class="hero">
    <div class="logodiv">
        <img class="logo" src="img\logo-white.png" alt="logo">
    </div>
    <div class="hero-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">SRINIVAS BOARDS</span>
            <span class="heading-primary-sub">SIVAGASI</span>
        </h1>
        <a href="#" class="btn btn-white btn-animate">discover our tours</a>
    </div>            
</header>
<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Exciting tours for adventurous people
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-small">You are going to fall in love with nature</h3>
                <p class="paragraph">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi labore provident ut, amet libero rerum molestias ipsa in tempore odio enim similique illo esse unde sint officia alias ad pariatur!
                </p>
                <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3>
                <p class="paragraph">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi labore provident ut, amet libero rerum molestias ipsa in tempore odio enim similique!
                </p>
                <a href="#" class="btn-text">Learn more &rarr;</a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="../../../assets/images/1.jpg" alt="" class="composition__photo composition__photo--p1">
                    <img src="../../../assets/images/2.jpg" alt="" class="composition__photo composition__photo--p2">
                    <img src="../../../assets/images/3.jpg" alt="" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>
</main>

