@import "app/base/animations"
@import "app/base/base"
@import "app/base/typography"
@import "app/abstracts/variables"
@import "app/abstracts/grid"


body 
    background-color: white
    margin: 0
    margin-top: -23px
@media (min-width: 1200px)
.container 
    max-width: 100%
