
@import "../../app/abstracts/variables";

body{
    font:"Lato", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 30px;
}


.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    /* inorder to hide the shaking while animation */
    backface-visibility: hidden;
    margin-bottom: 50px;
    &-main{
        display: block;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 30px;
        animation-name: leftToRight;
        animation-duration: 1s;
        /* animation-delay: 3s;
        animation-timing-function: ease-out; */
    }
    &-sub{
        display:block;
        font-weight: 700px;
        font-size: 12px;
        letter-spacing: 17.4px;
        padding-left: 12px;
        animation-name: rightToLeft;
        animation-duration: 1s;
    }
}

.heading-secondary{
    font-size:3.5rem;
    text-transform:uppercase;
    font-weight:700;
    display:inline-block;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: .2rem;
    //transition:all .2s;

    // &:hover{
    //     transform:skewY(2deg) skewX(15deg) scale(1.1);
    //     //text-shadow:[xdirection] [ydirection] [blurvalue] [colorofshadow]
    //     text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        
    // }
}


.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
